.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#app {
  height: 100%;
}

.body-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.main-container {
  overflow-x: hidden; 
  position: relative;
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 16px;
}

body {
  background-color: oklch(0.269 0 0);
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  margin: 0px;
}

header {
  width: 100%;
  text-align: left;
}

h1 {
  color: oklch(0.923 0.003 48.717);
  font-size: 4.5rem;
  width: fit-content;
}

.year {
  transform: translateX(100vh);
  opacity: 0;
}

.days-container {
  flex: 1 1 auto;
}

.recycle-container {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.date-container {
  height: 50%;
}

.date-container-milady {
  display: flex;
  flex-direction: column-reverse;
}

.day-first-month {
  background-color: oklch(0.455 0.188 13.697);
}

.day-first-month:hover {
  background-color: oklch(0.586 0.253 17.585);
}

.day-normal {
  background-color: oklch(0.439 0 0);
}

.day-normal:hover {
  background-color: oklch(0.556 0 0);
}

.day-first-week {
  background-color: oklch(0.45 0.085 224.283);
}

.day-first-week:hover {
  background-color: oklch(0.609 0.126 221.723);
}

.day-first-both {
  background-color: oklch(0.438 0.218 303.724);
}

.day-first-both:hover {
  background-color: oklch(0.558 0.288 302.321);
}

.day {
  width: 24px;
  height: 24px;
  border-radius: calc(infinity * 1px);
  filter: drop-shadow(0 3px 3px rgb(0 0 0 / 0.12));
}

.day:hover {
  transition: none;
}

.day:not(:hover) {
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.month-title {
  color: oklch(0.708 0 0);
  font-size: xx-large;
  font-weight: bold;
  position: absolute;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  text-wrap: nowrap;
}

.month-title-milady {
  top: 10px;
}

.month-title-hijri {
  bottom: 10px;
}

.month-title-hover {
  color: oklch(0.985 0 0);
}
