body.dark {
  --bg-color: oklch(26.9% 0 0);
  --main-heading-color: oklch(92.3% 0.003 48.717);
  --month-title-color: oklch(70.8% 0 0);
  --month-title-hover-color: oklch(98.5% 0 0);
  --day-month-color: oklch(45.5% 0.188 13.697);
  --day-month-hover-color: oklch(58.6% 0.253 17.585);
  --day-color: oklch(43.9% 0 0);
  --day-hover-color: oklch(55.6% 0 0);
  --day-secret-color: oklch(55.8% 0.288 302.321);
  --day-secret-hover-color: oklch(62.7% 0.265 303.9);
  --day-today-color: oklch(58.8% 0.158 241.966);
  --day-today-hover-color: oklch(74.6% 0.16 232.661);
}

body.light {
  --bg-color: oklch(92.3% 0.003 48.717);
  --main-heading-color: oklch(37.4% 0.01 67.558);
  --month-title-color: oklch(70.8% 0 0);
  --month-title-hover-color: oklch(37.1% 0 0);
  --day-month-color: oklch(44.6% 0.043 257.281);
  --day-month-hover-color: oklch(37.2% 0.044 257.287);
  --day-color: oklch(70.9% 0.01 56.259);
  --day-hover-color: oklch(55.6% 0 0);
  --day-secret-color: oklch(43.8% 0.218 303.724);
  --day-secret-hover-color: oklch(38.1% 0.176 304.987);
  --day-today-color: oklch(68.5% 0.169 237.323);
  --day-today-hover-color: oklch(58.8% 0.158 241.966);
}


.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#app {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  margin: 0px;
  user-select: none;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

header,
footer {
  width: 100%;
  text-align: left;
}

h1 {
  color: var(--main-heading-color);
  font-size: 5rem;
  margin: 0px;
  width: fit-content;
}

sup {
  opacity: 50%;
}

.hint {
  position: absolute;
  right: 20px;
  opacity: 50%;
  text-align: right;
  color: var(--month-title-color);
  transition-property: color, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.go-to-date {
  color: var(--month-title-color);
  position: fixed;
  z-index: -1;
  opacity: 30%;
  font-size: 9vw;
  top: 25%;
  left: 50%;
  font-weight: bolder;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.date-input {
  opacity: 0;
  position: fixed;
  z-index: -1;
}

.body-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.main-container {
  overflow-x: hidden;
  position: relative;
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 16px;
}

.current-day-label {
  color: var(--main-heading-color);
  text-align: center;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.year {
  transform: translateX(100vh);
  opacity: 0;
}

.days-container {
  flex: 1 1 auto;
  overflow: hidden !important;
}

.recycle-container {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.date-container {
  height: 50%;
}

.date-container-milady {
  display: flex;
  flex-direction: column-reverse;
}

.day-first-month {
  background-color: var(--day-month-color);
}

.day-first-month:hover {
  background-color: var(--day-month-hover-color);
}

.day-normal {
  background-color: var(--day-color);
}

.day-normal:hover {
  background-color: var(--day-hover-color);
}

.day-today {
  background-color: var(--day-today-color);
}

.day-today:hover {
  background-color: var(--day-today-hover-color);
}

.day-today {
  background-color: var(--day-today-color);
}

.day-today:hover {
  background-color: var(--day-today-hover-color);
}

.day-secret {
  background-color: var(--day-secret-color);
}

.day-secret:hover {
  background-color: var(--day-secret-hover-color);
}

/* .day-first-week {
  background-color: oklch(0.45 0.085 224.283);
}

.day-first-week:hover {
  background-color: oklch(0.609 0.126 221.723);
}

.day-first-both {
  background-color: oklch(0.438 0.218 303.724);
}

.day-first-both:hover {
  background-color: oklch(0.558 0.288 302.321);
} */

.day {
  width: 24px;
  height: 24px;
  border-radius: calc(infinity * 1px);
  filter: drop-shadow(0 3px 3px rgb(0 0 0 / 0.12));
}

.day:hover {
  transition: none;
}

.day:not(:hover) {
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.month-title {
  color: var(--month-title-color);
  font-size: xx-large;
  font-weight: bold;
  position: absolute;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  text-wrap: nowrap;
}

.month-title-milady {
  top: 10px;
}

.month-title-hijri {
  bottom: 10px;
}

.month-title-hover {
  color: var(--month-title-hover-color);
}

@media only screen and (max-width: 768px) {
  .hint {
    opacity: 0%;
  }

  h1 {
    font-size: 4rem;
  }

  .date-input {
    display: none;
  }
}